:root {
    --heading-background-color: 6785be;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --panding: 1rem;
    --border: 1px solid 027bce;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.winky-sans-Jdash {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.h1 div.hero {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}

.article .div.hero {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}

.article img div.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    float: right;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}