:root {
  --heading-background-color: #027bce;
  --heading-text-color: #3e6680;
  --heading-font: system-ui;
  --text-emphasis-color: #00457c;
  --padding: 1rem;
  --border: #6785Be;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid var(--heading-background-color);
  max-width: 1000px;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

.div {
  width: 80%;
  height: 50%;
  display: block;
  opacity: 50%;
}

.backgrd {
  width: 100%;
  height: 40%;
}

.div-art {
  position: absolute;
  top: 35%;
  bottom: 65%;
  right: 7.5%;
  padding: var(--padding);
  width: 80%;
  height: 65%;
  opacity: 70%;

}

.div-image {
  display: block;
  position: relative;
  padding: var(--padding);
  width: 20%;
  height: auto;
  opacity: 75%;
  float: right;
}

.div-h1 {
  display: block;
  padding: var(--padding);
  text-align: center;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.div-para {
  display: block;
  height: 250px;
  padding: var(--padding);
  text-align: left;
}

.hisart {
  display: block;
  height: 250px;
  flex-direction: row;

}

h2 {
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  display: block;
  color: var(--heading-background-color);
  padding: 20px;
  text-decoration: underline;
  font-size: 1.2rem;
}

.navigation a:hover {
  color: var(--heading-text-color);
  font-weight: 700;
  text-decoration: underline;
}

.pathsh2 {
  display: flex;
  justify-content: center;
}

.paths {
  display: flex;
  flex-flow: row nowrap;
}

.choice {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  border: black;
  background-color: var(--heading-background-color);
}

body {
  font-family: lato, sans-serif;
}

h3 {
  display: flex;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

article {
  margin: 1em auto;
  border: 1px solid var(--heading-background-color);
  padding: 1em;
  background-color: var(--border);
  font-size: 1.2rem;
}

.footer {
  display: flex;
  color: var(--heading-text-color);
  text-decoration: underline;
  justify-content: flex-end;
  font-size: .01rem;
}