* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --heading-background-color: rgb(36, 146, 67);
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --panding: 1rem;
    --border: 1px solid rgb(0, 0, 0);
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px 20px;
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--panding)
}

img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 10px;
}

main {
    max-width: 2000px;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    background-color: #43c3b8d1;
    color: #0f0661;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside {
    width: 20em;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0);
    padding: var(--panding);
    background-color: #eee;
    color: #333;
    text-align: center;
    box-shadow: rgb(0, 0, 0);
    position: relative;
}